body {
    background-color: #000000;
}

img {
    display: none;
}

#gameScreen {
    background-color: #000000;
    border: 2px solid #ffffff;
}

.container {
    display: flex;
    justify-content: center;
}